<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="modac.coingame">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name = ".data.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.intro.ChangeNickActivity"></activity>
        <activity android:name=".ui.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ingame.ResultActivity" />
        <activity android:name=".ui.ingame.MixActivity" >

        </activity>
        <activity android:name=".ui.ingame.AnswerActivity" />
        <activity android:name=".ui.ingame.SelectQuestionActivity" />
        <activity android:name=".ui.attend.FindRoomActivity" />
        <activity android:name=".ui.attend.CreateRoomActivity" >

        </activity>
        <activity android:name=".ui.intro.StartingActivity" />
        <activity android:name=".ui.intro.MainActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ad_id" />
    </application>

</manifest>